/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper {
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: #4b8f30; 
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100%;
}

.cover-container {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
  width: 100%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.statistics-container {
  width: 100%;
  min-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.inner {
  padding: 30px 30px 0px; /* Padding for spacing */
  color: #5F5F5F;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 0px;
    color: #4b8f30;
}

.masthead-nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.masthead-nav > li {
    flex: 1 1 auto;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #4b8f30;
    border-top: 2px solid transparent;
}
.masthead-nav > li > p {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    border-top: 2px solid transparent;
    padding: 10px 15px;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background: transparent;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    border-top-color: #4b8f30;
}

.masthead {
    display: flex;
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 100%;
    min-height: auto;
    background: rgba(255,255,255,1);
    align-items: flex-end;
    justify-content: space-between;
}

/*
 * Cover
 */
.cover,.btn-lg {  
    font-weight: bold;
}

.cover {
    flex: 1 1 auto;
    padding: 50px;
}

/*
 * Footer
 */
.mastfoot {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 100%;
    min-height: auto;
    background: #fff; 
}

@media all and (min-width: 768px) {
    .cover {
	width: 700px;
    }
}

@media all and (max-width: 400px) {
    .masthead {
	flex-direction: column;
	justify-content: center;
	align-items: center;
    }
    .masthead-nav {
	flex-direction: column;
    }
    .masthead-nav > li + li {
	margin-left: 0px;
    }
    .masthead-nav > .active > a,
    .masthead-nav > .active > a:hover,
    .masthead-nav > .active > a:focus {
	border-top-color: #fff;
    }
    .inner {
	padding: 10px 10px 0px;
    }
}

/* tabpanel */
.tabpanel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.tab-top {
    order: 1;
    flex: 1 1 auto;
}

.nav-tabs {
    order: 2;
    flex: 1 1 auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.nav-tabs > li {
    flex: 1 1 auto;
    width: 20%;
}

.nav > li > a > img {
    max-width: 100%;
}

.tab-content {
    order: 3;
    flex: 1 1 auto;
}

.statistics {
    width: 80%; 
    min-height: 800px; 
}

.statistics-summary { 
    padding: 50px 0px 0px 0px;
}

.statistics-btn { 
    padding: 100px 0px 50px 0px;
}
